

.container {
    flex-direction: row;
    justify-content: space-between;
}

#dish{
    display:inline-block;
}

#noborders {
    border-style: none;
    padding: 20px;
}

#nicePic {
    border-style: outset;
}

#numId {
    width: 50px;
}

.col-sm-12 {
    padding: 10px;
}

#summaryDiv {
    border-style: ridge;
    border-color: darkgrey;
    border-radius: 5px;
    background-color: beige;
    flex-direction: row;
    padding: 0px;
    font-weight: 560;
    padding-left: 25px;
    padding-right: 25px;
}


#sidb {

}

#navId {
    border-radius: 5px;
    border-style: double;
    align-items: flex-start;
    height: 100%;
    width: auto;
    padding: 0px;
}