

.container {
    flex-direction: row;
    justify-content: space-between;
}

#dish{
    display:inline-block;
}

#noborders {
    border-style: none;
    padding: 20px;
}

#nicePic {
    border-style: outset;
}

#numId {
    width: 50px;
}

.col-sm-12 {
    padding: 10px;
}

#summaryBar {
    border-style: ridge;
    border-color: black;
    flex: auto;
    border-radius: 10px;
    background-color: beige;
}

#sidb {

    flex-direction: column;
}