h4 {
    font-style: italic;
}

.card {
    border-style: solid;
    border-color: darkred;
}

.container {
    flex-direction: row;
    justify-content: space-between;
}

#dish{
    display:inline-block;
}